<!--<h1>-->
<!--{{title}}-->
<!--</h1>-->
<!--<div>-->
<!--<input type="text" [(ngModel)]="text.value"/>-->
<!--<div>-->
<!--{{text.value}}-->
<!--</div>-->
<!--<div>-->
<!--<input type="text" [(ngModel)]="text.value" #refText="ngModel" name="textName"/>-->
<!--{{refText.value}} - {{refText.dirty}}-->
<!--</div>-->
<!--<div>-->
<!--<button type="button" [disabled]="text.value === 'abcd'" (click)="writeText()">Click me</button>-->
<!--</div>-->

<!--<bdo-test [name]="text.value"></bdo-test>-->

<bdo-loading-spinner></bdo-loading-spinner>

<div class="main">

  <div class="text-align-center margin-v-20">
    <label class="margin-h-5">Metrics:</label>
    <p-dropdown [options]="googleAnalyticsMetrics" [(ngModel)]="bdoData.googleAnalyticsMetric"></p-dropdown>
  </div>

  <div class="text-align-center">
    <div class="inline-block margin-h-20">
      <label class="margin-h-5">Octane Module:</label>
      <p-dropdown [options]="ngaModules" [(ngModel)]="bdoData.ngaModuleName" (onChange)="onChangeNgaModule()"></p-dropdown>
    </div>
    <div class="inline-block margin-h-20">
      <label class="margin-h-5">Start Date:</label>
      <p-calendar [(ngModel)]="bdoData.startDate" dateFormat="dd.mm.yy" showIcon="true"></p-calendar>
    </div>
    <div class="inline-block margin-h-40">
      <label class="margin-h-5">End Date:</label>
      <p-calendar [(ngModel)]="bdoData.endDate" dateFormat="dd.mm.yy" showIcon="true"></p-calendar>
    </div>
    <div class="inline-block margin-h-40">
      <button pButton type="button" (click)="loadCharts()" label="Update Chart"></button>
    </div>
  </div>

  <div class="total-page-views  margin-v-20 text-align-center">
    <label>Total {{metricLabel}}:</label>
    <span>{{total}}</span>
  </div>

  <div class="margin-v-30 text-align-center">
    <div class="inline-block chart-width">
      <bdo-pie-chart [data]="dataForChart"></bdo-pie-chart>
    </div>
    <div class="inline-block chart-width">
      <bdo-column-chart [data]="dataForChart"></bdo-column-chart>
    </div>
  </div>

  <div class="text-align-center">
    <div class="inline-block chart-width">
      <bdo-line-chart [data]="dataForTrendChart"></bdo-line-chart>
    </div>
  </div>
</div>
